@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
}

.base_container {
    /* background-color: aqua; */
    height: 100vh;
    width: 100%;
}

.header_wrapper {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    background-color: #29282c;
    height: 70px;
    right: 0;
}

.sidebar_wrapper {
    position: fixed;
    left: 0;
    background-color: #29282c;
    height: 100vh;
    width: 300px;
}

.sidebar_wrapper h1 {
    color: white;
}

.sidebar_content {
    color: white;
    display: flex;
    justify-content: center;

}

.sidebar_content li {
    padding: 1rem;
    list-style-type: none;
}

.sidebar_content a {
    text-decoration: none;
    color: white;
}

.sidebar_content {
    list-style-type: none;
}

.content_wrapper {
    position: fixed;
    height: calc(100% - 70px);
    width: calc(100% - 300px);
    bottom: 0;
    right: 0;
    background-color: #F5F5F5;
    /* padding: 20px 70px; */
}

.content_container {
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
}

.company_table {
    display: flex;
    justify-content: center;
    padding-top: 40px;;
    flex-direction: column;
    gap: 20px;
    /* background-color: white; */
}

.company_table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* max-width: 600px; */
}

.company_table td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.company_table tr:nth-child(even) {
    background-color: #dddddd;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);
    
    
}
.header p{
    font-family: 'Arvo', serif;
    font-size: 25px;
    letter-spacing: 2px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.486);
    margin: 20px 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.164);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 8rem;
    display: none;
}

.modal-header {
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 1.5px;
}

.modal_add {
    background-color: #29282c;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: white;
}

.modal_input {
    position: relative;
    padding: 10px 0;
}

.btn-close {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.add-comp {
    display: flex;
    height: 2em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    gap: 6px;
}

.add-comp>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.add-comp:hover>svg {
    font-size: 1.2em;
    transform: translateX(5px);
    color: white;
}

.add-comp:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
    background-color: red;
    color: white;
    font-weight: 500px;
}

.modal-btn {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 70px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.add-btn::before {
    margin-left: auto;
}

.add-btn::after,
.add-btn::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.add-btn:hover::after,
.add-btn:hover::before {
    width: 100%;
}

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 4px;
    background: none;
    padding: 10px 7px;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
    position: absolute;
    left: 13px;
    color: white;
    letter-spacing: 1.5px;
    pointer-events: none;
    transform: translateY(10px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input:focus,
input:valid,
textarea:valid,
input:read-only {
    outline: none;
    border: 1.5px solid rgb(135, 206, 250);
}

.input:focus~label,
input:valid~label,
textarea:valid~label,
input:read-only~label {
    transform: translateY(-50%) scale(0.8);
    background-color: rgba(36, 36, 36, 255);
    padding: 0 .2em;
    color: white;
}

.btn_table {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
}

.filter {
    /* padding: 10px 0; */
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
}

.filter select {
    width: 10rem;
    border: none;
    border-bottom: 2px solid red;
    background-color: transparent;
    padding: 10px;
}

.select_department {
    padding: 10px;
}

/* p {
    text-align: center;
    color: rgb(135, 206, 250);
} */

.employee_container {
    display: flex;
    flex-direction: row;
    gap: 37px;
}

.hide {
    display: none;
}

.select {
    padding: 10px 0;
}

.select select,
input[type='date'],
input {
    width: 13rem;
    border: none;
    border-bottom: 2px solid rgb(135, 206, 250);
    background-color: transparent;
    padding: 10px;
    color: white;
}

.select option {
    color: white;
    background-color: rgba(36, 36, 36, 255);
    font-size: 15px;
}

.select input[type='date'] {
    color-scheme: dark;
}

.current {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    color: white;
}

.delete {
    padding: 20px 0;
}

.delete p {
    color: white;
    letter-spacing: 1px;
    padding: 5px 0;

}

.modal-btn-delete {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.add-btn-no {
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.add-btn-no::before {
    margin-left: auto;
}

.add-btn-no::after,
.add-btn-no::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.add-btn-no:hover::after,
.add-btn-no:hover::before {
    width: 100%;
}

.add-btn-yes {
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.add-btn-yes::before {
    margin-left: auto;
}

.add-btn-yes::after,
.add-btn-yes::before {
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(135, 206, 250);
    display: block;
    transition: 0.5s;
}

.add-btn-yes:hover::after,
.add-btn-yes:hover::before {
    width: 100%;
}
.dashboard_content{
    padding: 45px 70px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.container_card-1{
    height: 70px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);
    padding-left: 40px;
}

.box_icon{
    background-color: rgba(0,182,122,255);
    padding: 5px 10px;
    position: relative;
    left: 3%;
    box-shadow: 0 0 10px rgba(0,182,122,255);
}
.box_icon img{
    height: 25px;
    width: 30px;
}
.card_content-wrapper{
    width: 100%;
    max-width: 200px;
}
.card_content-wrapper p{
    font-family: 'Arvo', serif;
    letter-spacing: 1px;
}
.dept-icon {
    background-color: rgba(122,0,255,255);
    box-shadow: 0 0 10px rgba(122,0,255,255);
}
.comp-icon{
    background-color: rgba(0,187,221,255);
    box-shadow: 0 0 10px rgba(0,187,221,255);
}

.emp-icon{
    background-color: #FF711F;
    box-shadow: 0 0 10px #FF711F;
}
.text-mute{
    color: grey;
    padding: 4px 10px;
    font-size: 11px;
}
.total-count{
    border-bottom: 2px solid rgb(135, 206, 250);
    padding: 7px 20px;
}