* {
    margin: 0;
    padding: 0;
}

.base_container {
    /* background-color: aqua; */
    height: 100vh;
    width: 100%;
}

.header_wrapper {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    background-color: rgba(0, 0, 0, 0.075);
    height: 70px;
    right: 0;
}

.sidebar_wrapper {
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.918);
    height: 100vh;
    width: 300px;
}

.sidebar_wrapper h1 {
    color: white;
}

.sidebar_content {
    color: white;
    display: flex;
    justify-content: center;

}

.sidebar_content li {
    padding: 1rem;
}

.sidebar_content a {
    text-decoration: none;
    color: white;
}

.sidebar_content {
    list-style-type: none;
}

.content_wrapper {
    position: fixed;
    height: calc(100% - 70px);
    width: calc(100% - 300px);
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.075);
    /* padding: 20px 70px; */
}
.content_container{
    padding: 20px 70px;
}
.company_table {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* background-color: white; */
}

.company_table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* max-width: 600px; */
}

.company_table td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.company_table tr:nth-child(even) {
    background-color: #dddddd;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /* padding: 0 2rem; */
}
.overlay{
    background-color: rgba(0, 0, 0, 0.164);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 8rem;
    display: none;
}
.modal_add{
    background-color: white;
    padding: 2rem 2rem;
}
.modal_input{
    padding: 10px;
}
.btn_table{
    border: none;
    background-color: transparent;
    padding: 5px 10px;
}
.filter{
    padding:10px 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
}
.filter select{
    width: 10rem;
    border: none;
    border-bottom: 2px solid red;
    background-color: transparent;
    padding: 10px;
}
.select_department{
    padding: 10px;
}
p{
    text-align: center;
}